*{
	font-family: Lobster-Regular;
}
@font-face
{
	font-family: Lobster-Regular;
	src:url(fonts/Lobster/Lobster-Regular.ttf);
}

h5{
	text-align: center;
}

#form
{
	background: linear-gradient(to bottom, 
		rgba(218, 165, 146, .4)0, 
		rgba(218, 165, 146, .4)100%),
		url(Images/img.jpg);
	width: 100%;
	height: 100vh;  /*view height=vh*/
	background-repeat:no-repeat;
	background-position: center center;
	background-size: cover;
}
#rowgroup
{
	padding-top: 10%;
}